/* src/index.css */
@import "bootstrap/dist/css/bootstrap.min.css";

.hover-shadow:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

:root {
  --bs-primary: #64ff63;
  --bs-primary-rgb: 25, 118, 210;
  --bs-secondary: #ffd700;
  --bs-secondary-rgb: 33, 150, 243;
  --bs-body-bg: #ffffff;
  --bs-tertiary-bg: #f5f5f5;
  --bs-body-color: #212121;
  --bs-secondary-color: #757575;
  --font-title: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --color-primary: #2e7d32;
  --color-text: #333;
  --color-text-secondary: #666;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  color: var(--color-text);
  line-height: 1.6;
}

/* Navbar personalizada */
.navbar {
  background-color: var(--bs-primary);
}

.navbar .nav-link {
  font-weight: 300;
  color: #333;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.navbar .nav-link:hover {
  font-weight: 500;
  transform: translateY(-1px);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
}

/* Cards */
.card,
.content-box {
  background-color: var(--bs-tertiary-bg) !important;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.fotoCardPequeno {
  height: "200px";
}

/* Botões */
.btn-primary {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
}
.btn-primary:hover {
  background-color: #e6c200 !important;
  border-color: #e6c200 !important;
}
.btn-outline-primary {
  background-color: var(--bs-secondary) !important;
  border-color: #e6c200 !important;
}
.btn-secondary {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
  color: white !important;
}
.btn-secondary:hover {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-secondary) !important;
}

/* Centralizador */
.page-center {
  min-height: calc(100vh - 56px); /* altura da navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

/* Fontes */
/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6,
.card-title,
.btn {
  color: #212121 !important;
  font-family: var(--font-title);
}

/* Textos secundários*/
.text-secondary,
.text-muted,
.card-text,
small,
p.text-secondary {
  color: #757575 !important;
}

/* Inputs, labels, placeholders */
.form-label,
.form-control,
.form-control::placeholder {
  color: #212121 !important;
}

/* Botões: texto branco */
.btn-primary,
.btn-secondary {
  color: #000000 !important;
  font-family: var(--font-title);
  font-weight: 600;
}

/* Ajute do cartão post */
#cardPost {
  margin-top: 5px;
}
